<div class="watch-window d-flex flex-row justify-content-center align-items-start align-content-start">
  <div *ngIf="video && author" class="watcher justify-content-center align-items-start align-content-center">
    <div class="player">
      <app-video-player [videoId]="videoId" [videoURL]="videoURL"></app-video-player>
    </div>
    <div class="video-metadata">
      <div class="video-stats d-flex flex-row justify-content-between ">
        <h2 class="mt-2">{{video.name}}</h2>
      </div>
      <div class="video-metadata  mb-3 mx-0 mt-0">
        <div class="video-stats d-flex flex-row justify-content-between">
          <h3 (click)="authorPage()" style="cursor: pointer"><img class="avatar avatar-sm scalable" src="{{author.avatar | base64Image}}">{{author.username}}
            <button *ngIf="!currentUser || currentUser.id !== video.authorId" class="btn btn-primary mx-1">Subscribe!</button>
            <button (click)="videosManager()" *ngIf="currentUser && currentUser.id === video.authorId" class="btn btn-primary mx-1">Manager</button>
            <button (click)="editVideo()" *ngIf="currentUser && currentUser.id === video.authorId" class="btn btn-success mx-1">Edit Video</button>

          </h3>
          <div class="action-buttons d-flex justify-content-end align-items-center align-content-center">
            <div class="like-btn d-flex justify-content-center align-content-center align-items-center mx-1">
              <button class="video-btn" (click)="rateVideo(true)" [disabled]="rating && rated" [ngClass]="{'rated': rating && rated}" appMouseEnter><mat-icon>thumb_up_alt</mat-icon>{{video.likes}}</button>
              |
              <button class="video-btn" (click)="rateVideo(false)" [disabled]="!rating && rated" [ngClass]="{'rated': !rating && rated}"  appMouseEnter><mat-icon>thumb_down_alt</mat-icon>{{video.dislikes}}</button>
            </div>
            <div class="like-btn d-flex justify-content-center align-content-center align-items-center mx-1">
              <button class="video-btn" appMouseEnter><mat-icon>share</mat-icon></button>
              <span>Share</span>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-start">
          <mat-divider></mat-divider>
          <div class="container video-description mt-2">
            <div class="date">
              <span>{{video.views+" views "}}</span><span class="date-published" [matTooltip]="video.datePublished | simpleDate">{{video.datePublished | dateFormat}}</span>
            </div>
            <div class="description d-flex flex-column mt-3" [ngClass]="descClass">
              <div>
                <div *ngIf="descClass==='short'">
                  <span>{{getShorterDescription(video.description)}}
                    <a (click)="expandDescription()" appMouseEnter style="cursor: pointer;text-decoration: none; color: #8f8d8d">...show more</a>
                  </span>
                </div>
                <div *ngIf="descClass==='expanded'">
                  <span><pre>{{video.description | nextLiner:120}}</pre></span>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-start mt-5" *ngIf="descClass === 'expanded'">
                <span>
                  <img class="avatar avatar-sm scalable" [src]="author.avatar | base64Image"><b>{{author.username}}</b>
                </span>
                <span class="mt-2">{{video.datePublished | simpleDate}}</span>
              </div>
              <a *ngIf="descClass === 'expanded'" (click)="shortDescription()" appMouseEnter style="cursor: pointer;text-decoration: none; color: #8f8d8d">show less</a>

            </div>
          </div>
        </div>
        <div class="comments-section mt-2">
          <ng-container>
            <app-comments [videoId]="video.id"></app-comments>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
  <div class="recommended">
    <app-feed [flexDirection]="'flex-column'" [videosList]="similarVideos" [mainClass]="'videoMiniature-watch'"></app-feed>
  </div>
</div>

