<div class="container p-5 d-flex flex-column justify-content-center align-content-center align-items-center">
  <form (submit)="submit()" [formGroup]="passwordForm" class="form text-center w-50">
    <div class="mb-3">
      <label for="password" class="form-label">Enter new password</label>
      <input id="password" class="form-control" type="password" name="password" matInput [formControl]="passwordForm.controls.password">
      <span @fadeInOut class="error" *ngIf="passwordForm.controls.password.invalid && passwordForm.controls.password.touched">
        Password should contain at least 8 chars.</span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <button [disabled]="passwordForm.invalid" class="btn btn-primary mt-4" type="submit">Submit</button>
    </div>

  </form>
</div>
