<div class="manager-window w-75">
  <div *ngIf="accountVideos">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Date Published</th>
        <th scope="col">Views</th>
        <th scope="col">Likes/Dislikes</th>
        <th scope="col">...</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of accountVideos, index as i">
        <th scope="row">{{i+1}}</th>
        <td><div class="bg-black w-75 d-flex justify-content-center align-items-center align-content-center mb-2"><img class="img-thumbnail-small" src="{{v.thumbnail | base64Image}}"></div></td>
        <td><a style="text-decoration: none; color: black" appMouseEnter href="{{'watch?v='+v.id}}" target="_blank">{{v.name}}</a>
          <mat-icon style="color: #cd7d24" *ngIf="!v.name || !v.thumbnail || !v.tags" [matTooltip]="'Your video is hidden, due to lack of metadata. ' +
           'Please go to edit page and provide the missing data'">warning</mat-icon></td>
        <td>{{v.datePublished | simpleDate}}</td>
        <td>{{v.views}}</td>
        <td>
          {{v.likes+'|'+v.dislikes}}
        </td>
        <td>
          <button (click)="editVideo(v.id)" class="btn btn-primary btn-sm mx-1">Edit</button>
          <button (click)="deleteVideo(v.id)" class="btn btn-danger btn-sm mx-1">Delete</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
