<div class="container p-5 d-flex flex-column justify-content-center align-content-center align-items-center">
  <form (submit)="submit()" [formGroup]="signForm" class="form text-center w-50">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" class="form-control" type="text" name="username" matInput [formControl]="signForm.controls.username">
      <span @fadeInOut class="error" *ngIf="signForm.controls.username.hasError('minlength') && signForm.controls.username.touched">
        Username should contain at least 4 characters!</span>
      <span @fadeInOut class="error" *ngIf="signForm.controls.username.hasError('usernameExists')">
        Username already exists</span>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input id="email" class="form-control" type="email" name="email" matInput [formControl]="signForm.controls.email">
      <span @fadeInOut class="error" *ngIf="signForm.controls.email.hasError('email') && signForm.controls.email.touched">
        Please use correct email address</span>
      <span @fadeInOut class="error" *ngIf="signForm.controls.email.hasError('emailExists')">
        Account with that email exists</span>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date of birth</label>
      <input id="date" class="form-control" type="date" name="birthDate" matInput [formControl]="signForm.controls.birthDate">
      <span @fadeInOut class="error" *ngIf="signForm.controls.birthDate.hasError('tooYoung') && signForm.controls.birthDate.touched">
        You should be at least 13yrs old to use Angle</span>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" class="form-control" type="password" name="password" matInput [formControl]="signForm.controls.password">
      <span @fadeInOut class="error" *ngIf="signForm.controls.password.hasError('minlength') && signForm.controls.password.touched">
        Password should contain at least 8 characters</span>
    </div>
    <button [disabled]="signForm.invalid" class="btn btn-primary mt-4" type="submit">Sign In</button>
  </form>
</div>
