<div class=" mt-5 mb-0">
  <footer class="py-3 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <div class="d-flex flex-column justify-content-center justify-content-center align-items-center">
<!--      <img ngSrcset="45w" ngSrc="assets/images/logo-black.png" width="45" height="45" priority >-->
      <p class="text-center text-muted">© 2024 Angle, Ltd</p>
    </div>
  </footer>
</div>
