<div class="comments-window">
  <div *ngIf="!loggedIn" class="text-center mt-5 mb-2">
    <h4>You must be logged in to write a comment!</h4>
    <div class="d-flex justify-content-center align-content-center align-items-center flex-row">
      <button (click)="signin()" class="btn btn-primary btn-sm mx-2">Sign in</button>
      <button routerLink="/signup" class="btn btn-success btn-sm mx-2">Sign up</button>
    </div>
  </div>
  <div class="mt-5 mb-1 w-100" *ngIf="user">
      <form class="d-flex flex-row justify-content-between align-items-center align-content-center w-100" (ngSubmit)="addComment()" [formGroup]="commentForm">
        <div class="d-flex flex-row justify-content-start align-content-start align-items-center">
          <img class="avatar avatar-sm mx-1 scalable" [src]="user.avatar | base64Image">
          <textarea class="comment-input" style="resize: none" cols="135" rows="1" placeholder="Write your comment here..." type="text" name="content" [formControl]="commentForm.controls.content"></textarea>
        </div>
        <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex flex-row justify-content-start align-content-center align-items-center mt-2 mb-1">
    <h2>{{"Comments: "+totalComments}}</h2>
  </div>
  <div *ngFor="let comment of comments, index as i" class="comment my-5 d-flex flex-row justify-content-between w-100">
    <span class="d-flex flex-row justify-content-start align-items-start align-content-start">
      <div class="avatar-container mx-2">
        <img class="avatar avatar-sm scalable" src="{{comment.authorAvatar | base64Image}}">
      </div>
      <div class="d-flex flex-column justify-content-start align-items-start align-content-start">
        <span class="username">{{comment.authorName}}<span [matTooltip]="comment.datePublished | simpleDate" class="date-published mx-2">{{comment.datePublished | dateFormat}}</span></span>
        <pre>{{shortenComment(comment) | nextLiner:rowLength}}</pre>
        <ng-container *ngIf="comment.content.length > maxLength && !comment.extended">
          <a class="mx-5" (click)="resizeComment(comment)" style="cursor: pointer;text-decoration: none; color: #8f8d8d" appMouseEnter>...more</a>
        </ng-container>
        <ng-container *ngIf="comment.content.length > maxLength && comment.extended">
          <a class="mx-5" (click)="resizeComment(comment)" style="cursor: pointer;text-decoration: none; color: #8f8d8d" appMouseEnter>...less</a>
        </ng-container>
      </div>
    </span>
    <ng-container *ngIf="user">
      <button [matMenuTriggerFor]="menu" appMouseEnter mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="font-size: small">menu</mat-icon>
      </button>
      <mat-menu #menu = "matMenu">
        <button appMouseEnter mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span>Report</span>
        </button>
        <button appMouseEnter mat-menu-item *ngIf="comment.authorId === user.id">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
  <div *ngIf="comments.length < totalComments" class="d-flex justify-content-center align-items-center align-content-center">
    <button (click)="moreComments()" class="btn btn-primary btn-sm">Load more</button>
  </div>
  <div *ngIf="comments.length === 0 && loggedIn" class="text-center mt-5 mb-2">
    <h4>No comments here at the moment. Be the first!</h4>
    <mat-divider></mat-divider>
  </div>
</div>
