img{
  width: auto;
  height: 250px;
  cursor: pointer;
}
h1{
  min-height: 50px;
}
.btn{
  min-height: 10%;
  min-width: 40%;
}

#desc{
  border-radius: 5px;
  padding: 8px;
}

.metadata-control{
  margin-top: 10%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

mat-form-field{
  width: 100%;
}

.metaData-window{
  padding: 2%;
}


mat-stepper{
  background-color: transparent;
  width: 100%;
  height: 75%;
}

.nameInput{
  width: 75%;
}
