<div class="container p-5 d-flex flex-column justify-content-center align-content-center align-items-center">
  <form (submit)="submit()" [formGroup]="emailForm" class="form text-center w-50">
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input id="email" class="form-control" type="email" name="email" matInput [formControl]="emailForm.controls.email">
      <span @fadeInOut class="error" *ngIf="(emailForm.controls.email.hasError('email') || emailForm.controls.email.hasError('required')) && emailForm.controls.email.touched">
        Email is required</span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <button [disabled]="emailForm.invalid" class="btn btn-primary mt-4" type="submit">Submit</button>
    </div>

  </form>
</div>
