@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error{
  color: red;
}

.mb-3{
  margin: 15px;
}
.error{
  margin: 0;
  padding: 0;
}
.alert{
  position: absolute;
  left:50%;
  right:50%;
  transform: translate(-50%,-50%);
  min-width: 50%;
  top:4%;
}
