vg-player {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

vg-overlay-play {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*vg-buffering{*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

video {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}
